/*setting background texture image */
body {
  background-image: url(../images/lodyas.png);
}

/*lower opacity for blocks */
.jumbotron, .panel, .footer {
	background-color: rgba(255,255,255,.25);
}

/*scales imgs to width of div*/
img{
	width: 100%;
}

/*color changes for each image*/
.crys0{
	filter: hue-rotate(0deg);
}

.crys1{
	filter: hue-rotate(90deg);
}

.crys2{
	filter: hue-rotate(180deg);
}

.crys3{
	filter: hue-rotate(250deg);
}


/*edit button color*/
.btn-primary {
	background-color: #df691a;
	border-color: #6f350d;
}

.btn-primary:hover{
	background-color: #6f350d;
	border-color: #df691a; 
}

/*hide button pin to upper right*/
#hideBtn {
	position: absolute;
	top: 3px;
	right: 3px;
}


/*Crystal Animation*/
@keyframes rotateHue-animation{
	25% { transform: scale(1.25) rotate(90deg); }	
	50% { filter: hue-rotate(50deg); }
	50% { transform: scale(1) rotate(180deg); }
	75% { transform: scale(1.25) rotate(270deg); }
	100% { transform: rotate(360deg); }
}
.hueRotate {
	animation-name: rotateHue-animation;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

